@model string ;
@{
    ViewData["Title"] = "Hoş Geldiniz";

}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Lezzetin Adresine<br>Hoşgeldin..</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Bunun gibi daha nice şahane tarif için doğru yerdesin.İstediğin ürünü arayabilir güvendiğin tariflerini bize gönderebilirsin.</p>
                <a href="Kategorilers" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Kategorilere Git</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/css/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>